{% extends "invoice/base.html" %}

{% block content %}

    {% for cost_type in types_of_cost %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ cost_type.cost_code }}</a>
                    <small class="text-muted">{{ cost_type.cost_name }}</small>
                </div>
            </div>
        </article>
    {% endfor %}

    {% for cost_center in cost_centers %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ cost_center.cost_center_code }}</a>
                    <small class="text-muted">{{ cost_center.cost_center_name }}</small>
                </div>
            </div>
        </article>
    {% endfor %}

    {% for supplier in suppliers %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <small class="text-muted">{{ supplier.supplier_name }}</small>
                </div>
            </div>
        </article>
    {% endfor %}

{% endblock content %}