{% extends "invoice/base.html" %}

{% block content %}
    <div class="container">
        <h2>Invoices</h2>
        <a href="{% url 'create-invoice' %}" class="btn btn-primary btn-sm float-right bg-steel">Add New Invoice</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Invoice Number</th>
                    <th>Date</th>
                    <th>Supplier</th>
                    <th>Netto Amount (EUR)</th>
                    {% if show_username %}
                        <th>User</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for invoice in invoices %}
                <tr>
                    <td><a href="{% url 'invoice-detail' invoice.pk %}">{{ invoice.invoice_number }}</a></td>
                    <td>{{ invoice.date|date:"d.m.Y" }}</td>
                    <td>{{ invoice.supplier.supplier_name }}</td>
                    <td>{{ invoice.netto_amount |floatformat:3 }}</td>
                    {% if show_username %}
                            <td>{{ invoice.user.username }}</td>
                        {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}