
*.pyc
*.pyo
__pycache__/
*.pyd
*.pdb
*.egg
*.egg-info/
.eggs/
*.so
.Python
*.pkl


venv/
env/
ENV/
.venv/
.virtualenv/


staticfiles/
media/
*.log
*.pot
*.py[cod]


db.sqlite3
*.sqlite3


**/migrations/**


.env
.DS_Store
*.secret


.pytest_cache/
.tox/
.nox/


.vscode/
*.swp
*~


Thumbs.db
.DS_Store
