{% extends "invoice/base.html" %}
{% load custom_filters %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center my-4">
        <h1>Expense Report</h1>
        <div>
            <form action="{% url 'export_to_excel' %}" method="get">
                <button type="submit" class="btn btn-primary bg-steel">Excel</button>
            </form>
        </div>
    </div>

    {% for type_of_cost, expenses_by_center in expenses_by_type_and_center.items %}
    <div class="mb-4">
        <h2>{{ type_of_cost.cost_name }} - {{ type_of_cost.cost_code }}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Cost Center</th>
                    <th>Cost Center Code</th>
                    <th>Total Cost (EUR)</th>
                </tr>
            </thead>
            <tbody>
                {% for cost_center, total_amount in expenses_by_center.items %}
                <tr>
                    <td>{{ cost_center.cost_center_name }}</td>
                    <td>{{ cost_center.cost_center_code }}</td>
                    <td>{{ total_amount|default:0.00|format_number }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="text-right">
            <a href="{% url 'cost_chart' type_of_cost.pk %}" class="btn btn-primary bg-steel">Show Chart</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}